:local(.list) {
    display: grid;
    grid-template-rows: auto auto 1fr;
    width: calc(100% - 2em);
    height: calc(100% - 1em);
    padding: 0 1em 1em;
    overflow: hidden;

    > h1 {
        display: grid;
        grid-template-columns: auto 1fr auto auto;
        column-gap: 0.2em;
        align-items: center;

        > span {
            display: inline-block;
        }

        > :local(.failed) {
            color: #ff0000;
        }
    }

    > div {
        display: grid;
        grid-auto-rows: auto;
        grid-auto-flow: row;
        row-gap: 0.5em;
        width: calc(100% - 1em);
        height: calc(100% - 4px);
        padding-right: 1em;
        padding-bottom: 4px;
        overflow-x: hidden;
        overflow-y: auto;
    }
}
