:local(.form) {
    display: grid;
    grid-template-rows: auto 1fr;
    width: calc(100% - 2em);
    height: calc(100% - 1em);
    overflow: hidden;

    > div {
        display: grid;
        grid-auto-rows: auto;
        grid-auto-flow: row;
        row-gap: 1em;
        height: fit-content;
        height: -moz-fit-content;

        > label {
            display: grid;
            grid-template-rows: auto;
            grid-auto-flow: row;
            row-gap: 0.5em;
            align-items: center;

            > input {
                width: 30em;
            }

            > span > input {
                width: 4em;
                text-align: center;
            }

            &:last-child > input {
                width: 6em;
                text-align: center;
            }
        }

        > div {
            display: grid;
            grid-auto-columns: auto;
            grid-auto-flow: column;
            column-gap: 0.5em;
            align-items: center;
            justify-content: flex-start;
            cursor: pointer;

            > div {
                padding: 0.2em 0.3em;
                background: #eeeeee;
                border: 1px solid black;
                border-radius: 4px;
                box-shadow: 1px 1px 0 grey;

                &:local(.disabled) {
                    pointer-events: none;
                    cursor: unset;
                    opacity: 50%;
                }

                &:hover:not(:local(.disabled)) {
                    background: #dddddd;
                }
            }
        }
    }
}
