html,
body,
body > div#root {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    overflow: hidden;
    line-height: 1.2;

    .button {
        padding: 0.2em 0.3em;
        text-align: center;
        background: #eeeeee;
        border: 1px solid black;
        border-radius: 4px;
        box-shadow: 1px 1px 0 grey;

        &.disabled {
            pointer-events: none;
            cursor: unset;
            opacity: 50%;
        }

        &:hover:not(.disabled) {
            background: #dddddd;
        }
    }
}

* {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}
